.member {
  transition: background .2s;
}

.member_highLight {
  background-color: #f1f0f0;
}

.member__actions {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  transition: opacity .2s;
}

.member__action {
  float: none;
  border: none;
  background: transparent;
}

.member__actions_visible {
  opacity: 1;
  visibility: visible;
}

.member:hover .member__actions {
  opacity: 1;
  visibility: visible;
}