.code-listening {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.code-listening .nav.nav-tabs .nav-item.nav-link {
  color: #272822;
}

.code-listening .nav.nav-tabs .nav-item.nav-link.active {
  color: #5f5f5f;
}


.code-listening__loader {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s, z-index 1s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-listening__loader_show {
  opacity: .9;
  visibility: visible;
  z-index: 9999;
}

.code-listening code[class*="language-"],
pre[class*="language-"] {
  width: 100%;
  margin: 0 !important;
  font-size: 14px !important;
  border-radius: 0 !important;
}

.code-listening__full {
  position: relative;
  width: 100%;
  height: 100%;
}

.code-listening__full-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.code-listening__tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.code-listening__tabs .tab-content {
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.code-listening__tabs .tab-pane {
  background: rebeccapurple;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}