.form-group>div {
  position: relative;
}

.form-group .spinner-border {
  display: none;
  position: absolute;
  right: 5px;
  top: 7px;
  width: 24px;
  height: 24px;
}

.form-group.async-validating .spinner-border {
  display: block;
}

.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.warning-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: orange;
}

